<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Users</title>
</head>

<body>
	<div>
		<a th:href="@{/user/new}">New user</a>
	</div>
	<div th:if="${users.empty}">
		<div>No user</div>
	</div>
	<div th:unless="${users.empty}">
		<table id="user_table">
			<caption>Users</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.email}"></td>
					<td><a th:href="@{'/user/edit/' + ${user.id}}">Edit</a></td>
				</tr>
			</tbody>
		</table>
</body>

</html>